BlogMax is an Emacs package that aids in the creation of a
weblog. News below. See the
<a href="{blogToplevel "docs/index.html"}">Docs</a> page
for details.

{dayTemplate}
</td>
<td valign="top">
{calendar}

<center>{@rsslink}</center>
